.logi{
    width: 130px;
}
.intel{
    width: 110px;
}
.play{
    width: 140px;
}
.aero{
    width: 120px;
}
.asus{
    width: 150px;
}
.kings {
    width: 120px;
}
.nvidia{
    width: 130px;
}
.sega{
    width: 130px;
}
.nintendo{
    width: 110px;
}
.xbox{
    width: 90px;
}
.lineaRosa{
    border-bottom: 3px solid #E42CE8;
}